{
  "presets": ["babel-preset-gatsby"],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-react-intl",
          {
            "messagesDir": "./messages/"
          }
        ]
      ]
    }
  }
}
