{
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-1",
        "react"
      ]
    },
    "development": {
      "presets": [
        "es2015",
        "stage-1",
        "react"
      ],
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        "es2015",
        "stage-1",
        "react",
        "react-optimize"
      ]
    },
    "webpack-development": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-1",
        "react"
      ],
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self",
        "react-hot-loader/babel",
        [
          "react-intl",
          {
            "messagesDir": "./messages/"
          }
        ]
      ]
    },
    "webpack-production": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-1",
        "react",
        "react-optimize"
      ]
    }
  }
}
