{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/prop-types": [
      2,
      {
        "ignore": [
          "classes",
          "theme"
        ]
      }
    ]
  }
}
