@font-face {
  font-family: 'Munchkin';
  src:
    url('../../../content/assets/fonts/munchkin.woff2') format('woff2'),
    url('../../../content/assets/fonts/munchkin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 16px;
}

h1 {
  font-family: 'Munchkin', 'Roboto', sans-serif;
  font-size: 112px;
  font-weight: 300;
}
